pipeline/pl_rappatoni_bearer_token.json
{
	"name": "pl_rappatoni_bearer_token",
	"properties": {
		"description": "The Rappatoni Bearer Token has a 60 day expiration, so this shouldn't need to be run often",
		"activities": [
			{
				"name": "Retrieve Rappatoni Bearer Token",
				"description": "",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Keyvault Secret Retrieval",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://retsidentityapi.raprets.com/cin/oauth/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "grant_type=password&client_id=HMSRealtyv12&client_secret=42ee8746d16041cab988819685114637&username=PA1309A&password=Hmshms1905"
				}
			},
			{
				"name": "Retrieve AAD Token - Post",
				"description": "\"clientId\": \"f61df473-ed3a-40fa-b718-e6e9b9cff679\",\n\"tokenEndpoint\": \"https://login.microsoftonline.com/5d7107c1-196b-42ab-82d1-d90bdbe3c34e/oauth2/v2.0/token\",\n\"scope\": \"api://f61df473-ed3a-40fa-b718-e6e9b9cff679/.default\"\n\nPOST /{tenant}/oauth2/v2.0/token\nContent-Type: application/x-www-form-urlencoded\n\nclient_id=f61df473-ed3a-40fa-b718-e6e9b9cff679\n&scope=api%3A%2F%2Ff61df473-ed3a-40fa-b718-e6e9b9cff679%2F.default\n&client_secret=CHn8Q~2ONJNbLdDzZDcLQeyHH1aY0dTb2mzXmadF\n&grant_type=client_credentials",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": "https://login.microsoftonline.com/5d7107c1-196b-42ab-82d1-d90bdbe3c34e/oauth2/v2.0/token",
					"method": "POST",
					"headers": {
						"Content-Type": "application/x-www-form-urlencoded"
					},
					"body": "client_id=f61df473-ed3a-40fa-b718-e6e9b9cff679&scope=https%3A%2F%2Fvault.azure.net%2F.default&client_secret=CHn8Q~2ONJNbLdDzZDcLQeyHH1aY0dTb2mzXmadF&grant_type=client_credentials"
				}
			},
			{
				"name": "Keyvault Secret Retrieval",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Retrieve AAD Token - Post",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('KV_Secret_Names')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Cincy KV Secrets",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@{pipeline().globalParameters.cincinnati_mls_kv_base_url}//secrets?api-version=7.3",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat(\n    'Bearer ',\n    activity('Retrieve AAD Token - Post').output.access_token\n)",
										"type": "Expression"
									}
								}
							}
						},
						{
							"name": "Get Rappatoni Bearer Token",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@{pipeline().globalParameters.cincinnati_mls_kv_base_url}//secrets/bearer-token?api-version=7.3",
									"type": "Expression"
								},
								"method": "GET",
								"headers": {
									"Authorization": {
										"value": "@concat(\n    'Bearer ',\n    activity('Retrieve AAD Token - Post').output.access_token\n)",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"KV_Secret_Names": {
				"type": "Array",
				"defaultValue": [
					"client-id",
					"client-secret",
					"password",
					"token-url",
					"username"
				]
			}
		},
		"folder": {
			"name": "Authorization"
		},
		"annotations": []
	}
}