pipeline/pl_test_datetime_stuff.json
{
	"name": "pl_test_datetime_stuff",
	"properties": {
		"activities": [
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "CosmosDbSqlApiSource",
						"query": "SELECT top 1 c.ModificationTimestamp MaxModifiedDate FROM c order by c.ModificationTimestamp desc",
						"preferredRegions": [],
						"detectDatetime": false
					},
					"dataset": {
						"referenceName": "ds_cosmosdb",
						"type": "DatasetReference",
						"parameters": {
							"DbContainer": "Member"
						}
					}
				}
			},
			{
				"name": "varFormatDateTime",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "FormatDateTime",
					"value": {
						"value": "@string(\n    formatDateTime(\n        activity('Lookup1').output.firstRow.MaxModifiedDate,\n        'yyyy-MM-ddTHH:mm:sszzz'    \n    )\n)",
						"type": "Expression"
					}
				}
			}
		],
		"variables": {
			"FormatDateTime": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Test"
		},
		"annotations": []
	}
}